.navBar {
    grid-area: n;
}

.nav {
    padding-left: 20px;
    padding-top: 20px;
    background-color: #ee6c70;
    height: 80vh;
}

.item a{
    color: white;
}

.item a.active {
    color: #fff47f;
}

.sidebar {
    width: 100%;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
}

.sidebarTitle {
    color: white;
    text-align: start;
    font-size: 32px;
    margin-bottom: 20px;
}

.sidebarWrapper {
    display: flex;
    gap: 1vw;
}

.sidebarItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.sidebarImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
}