:root {
    /*rgb(22, 72, 99)*/

    --main-color-100: #c2bbef;
    --main-color-200: #e2c6eb;
    --main-color-300: #876de6;
    --main-color-400: #164863;
    --main-color-500: #04364A;
    --font-color-100: #FFFFFF;
    --error-color-100: #D71313;

    /*shadow*/

    --main-shadow-100: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
    --main-shadow-200: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
}