.dialogs h2 {
    grid-area: c;
    margin: 0 auto;
}

.dialogWrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {

}

.dialogsItems a{
color: black;
}

.dialogsItems .active{
    color: #ee6c70;
}