.dialogs h2 {
    grid-area: c;
    margin: 0 auto;
}

.dialogWrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    display: flex;
    flex-direction: column;
}

.dialogsItems a {
    color: black;
}

.dialogsItems .active {
    color: #ee6c70;
}

.dialogMassages {
    width: 40vw;
    display: flex;
    flex-flow: column nowrap;
    margin-right: auto;
}