.massagesItemYou {
    margin-left: auto;
    order: 2;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

.massagesItem {
    margin-right: auto;
    order: 2;
    display: flex;
    align-items: center;
    gap: 10px;
}

.massagesImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
}

.massagesText {
    border: 1px solid rgba(17, 17, 21, 0.4);
    border-radius: 15px;
    padding: 5px;
}
